body {
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color: #ecf5bf;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    letter-spacing: -0.004em;
    color: #75B79E;
    text-align: center;
    margin: 40px 0px 50px;
}