body {
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color: #ecf5bf;
    padding: 0px 75px;
}

h1 {
    font-weight: bold;
    font-size: 72px;
    letter-spacing: -0.004em;
    color: #75B79E;
    text-align: center;
    margin: 50px 0px 60px;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 65%;
    margin: 0px auto;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 175px;
    background-color: #A7E9AF;
    margin: 0px 12px 30px;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: relative;
}

li img {
    width: 110px;
    height: 110px;
}

.gif {
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.turned-img {
    backface-visibility: hidden;
}

.open {
    transform: rotateY(180deg);
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

@media (max-width: 600px) {
    body {
        max-width: 100vw;
    }

    h1 {
        font-size: 36px;
        margin: 20px 0px 20px;
    }

    ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 90%;
    }

    li {
        margin:0px 0px 25px;
    }
}